//@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
	--d-max-width: 80%;
}

body {
  @if $Background_Type =="tile" {
    background-image: linear-gradient(0deg,
        rgba(var(--secondary-rgb), 1) 0%,
        rgba(var(--secondary-rgb), 0.75) 100%),
      url($Background_Image);
    background-size: $Tile_Size;
  }

  @else {
    background-image: url($Background_Image) !important;
    background-size: cover;
  }

  /* Make the body a bit lighter */
  //font-family: "Nunito" !important;
}

div#main-outlet.wrap.not-found-container,
#main-outlet-wrapper {

  #main-outlet,
  .sidebar-wrapper {
    @if $Is_Background_Blurred {
      backdrop-filter: blur(3rem) !important;
      background-color: #0a0a0aa6 !important;

      input[type],
      .select-kit.combo-box .select-kit-header,
      .d-editor-textarea-wrapper,
      div.ac-wrap {
        background: transparent;
      }
    }

    @else {
      backdrop-filter: none !important;
      background-color: var(--secondary) !important;

      input[type],
      .select-kit.combo-box .select-kit-header,
      .d-editor-textarea-wrapper,
      div.ac-wrap {
        background: transparent;
      }
    }
  }
}

#main-outlet {
  @if $Is_Background_Blurred {
    backdrop-filter: blur(3rem) !important;
    background-color: #0a0a0aa6 !important;

    input[type],
    .select-kit.combo-box .select-kit-header,
    .d-editor-textarea-wrapper,
    div.ac-wrap {
      background: transparent;
    }
  }

  @else {
    backdrop-filter: none !important;
    background-color: var(--secondary) !important;

    input[type],
    .select-kit.combo-box .select-kit-header,
    .d-editor-textarea-wrapper,
    div.ac-wrap {
      background: transparent;
    }
  }
}



.wizard-container {
  @if $Is_Background_Blurred {
    background-color: #131313a3;

    input[type],
    .select-kit.combo-box .select-kit-header,
    .d-editor-textarea-wrapper,
    div.ac-wrap {
      background: transparent;
    }
  }
}


body.wizard {
  @if $Background_Type =="tile" {
    background-image: linear-gradient(0deg,
        rgba(var(--secondary-rgb), 1) 0%,
        rgba(var(--secondary-rgb), 0.75) 100%),
      url($Background_Image);
    background-size: $Tile_Size;
  }

  @else {
    background-image: url($Background_Image) !important;
    background-size: cover;
  }
}

/* Make cursor stay normal*/

body,
button,
div,
span,
a,
img,
svg,
h1,
h2,
h3,
h4,
h5,
h6,
p,
summary,
input,
textbox,
input,
textarea,
li,
ul {
  font-family: "Nunito" !important;

  @if $Is_Cursor_Active =="false" {
    cursor: default !important;
  }

  // I assume here are more properties not only cursor...
}

.cooked img:not(.thumbnail):not(.emoji),
.d-editor-preview img:not(.thumbnail):not(.emoji) {
  border-radius: 8px;
}

aside.quote .title {
  border-radius: 8px;
}

/* Make Like button white */
nav.post-controls .actions .double-button button.has-like .d-icon {
  color: #fff;
}

/* Search */
.custom-search-banner-wrap {
  margin: 0 auto !important;
  max-width: unset;
  color: var(--secondary);

  h1 {
    font-size: 4em;
  }

  p {
    font-size: 1.25em !important;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .btn {
    height: 100%;
  }

  .search-menu {
    input[type="text"] {
      border: 1px solid transparent;
      border-radius: 0.25em;
      min-height: 40px;

      &:focus {
        outline: 3px solid rgba(var(--primary-rgb), 0.35);
      }
    }

    .search-input {
      border-color: var(--tertiary-hover);
      outline: 1px solid var(--tertiary-hover);
    }
  }

  .search-context {
    top: 3.25em;
    right: 1em;
  }

  .widget-link.show-help {
    color: rgba(var(--primary-rgb), 0.75);
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: rgba(var(--secondary-rgb), 0.25);

    &:hover {
      color: var(--primary);
    }
  }

  .results {
    top: 43px;
    border-radius: 0.25em;
  }
}

div.boxed,
.admin-content .admin-contents,
.full-width,
.boxed.white,
.admin-customize .current-style .edit-main-nav ul,
.admin-controls nav,
.admin-controls nav:after,
.admin-controls nav:before {
  background: transparent;
}

pre code {
  border-radius: 8px;
}

.d-header {
  background-image: linear-gradient($Header_Direction, $Header_Color_1, $Header_Color_2, $Header_Color_3);
  background-repeat: no-repeat;
  border-radius: 0px 0px 8px 8px;
}

.search-input {
  border-radius: 0.25em;
}

#main #reply-control .grippie {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.display-search-banner #main-outlet {
  padding-top: 1em;
}

.alert {
  margin: 1em 0;
}

.composer-popup.education-message {
  border-radius: 8px;
}

.topic-list {

  .topic-list-header,
  .topic-list-item {
    .topic-list-data {
      padding: 15px 5px;
    }
  }
}

.navigation-topics .topic-list {

  .topic-list-header,
  .topic-list-body {
    .topic-list-data {
      flex: unset;
    }
  }
}

/* User cards + header that look good */
.d-header {
  //  background: #000fff00;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0) !important;
  // backdrop-filter: blur(1rem);
  top: 4px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.category-list.with-topics .category {
  border-radius: 8px 0px 0px 8px;
}

.extra-info-wrapper .topic-header-extra .discourse-tags .discourse-tag {
  border-radius: 8px 8px 8px 8px;
  background-color: #0f0f0f !important;
}

/* Fix the glitchy af badges */
.user-card .badge-section {
  border-radius: 8px;

  .user-card-badge-link,
  .more-user-badges {
    border: 0px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

.badge-wrapper.box {
  border-radius: 0.25em;
  overflow: hidden;
}

.badge-wrapper.bullet .badge-category-bg {
  border-radius: 0.125em;
}

.badge-wrapper.bullet .badge-category-parent-bg {
  border-top-left-radius: 0.125em;
  border-bottom-left-radius: 0.125em;
}

.badge-wrapper.bullet .badge-category-parent-bg+.badge-category-bg {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0.125em;
  border-bottom-right-radius: 0.125em;
}

/* Notification recolor */
.d-header-icons .unread-notifications {
  /*New notification, also counts as "low priority"*/
  background-color: #4aaeff;
}

.unread-high-priority-notifications.badge-notification[href] {
  /* DM/moderation action, counts as "high priority" */
  background-color: #67ffb2;
}

.user-card {
  .badge-section {

    .user-badge,
    .more-user-badges a {
      border-radius: 16px;
    }
  }
}

.modal-inner-container {
  border-radius: 9px;
}

.discourse-tag {
  font-size: medium;
  border-radius: 0.25em;
  padding: 0.15em 0.25em 0.15em 0.35em;
  background-color: var(--primary-low);
  color: var(--primary) !important;

  &:hover {
    background-color: var(--primary-low-mid);
    color: var(--primary);
  }
}

.discourse-tags,
.list-tags,
.search-category {
  .discourse-tag.simple:not(:last-child)::after {
    content: "";
    margin-left: unset;
  }
}

.topic-list {
  .link-bottom-line {
    .discourse-tag {

      &.simple:after,
      &.discourse-tag.box {
        margin-right: 0px;
      }
    }
  }
}

#site-text-logo {
  color: var(--primary);
}

.mobile-view .cm-header-links {
  display: none;
}

.mobile-view .list-controls .nav-pills .drop li:first-of-type {
  display: none;
}

input[type],
.select-kit.combo-box .select-kit-header,
.d-editor-textarea-wrapper,
div.ac-wrap {
  border-radius: 8px !important;
}

.badge-card,
.reviewable-filters,
.user-card.show,
.group-card.show {
  border-radius: 14px;
}

.list-controls .combo-box .combo-box-header {
  border: none;
  background-color: #2c2c2c;
}

.d-header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  margin-top: 5px;
  border-radius: 12px 12px 12px 12px;
}

.d-header-icons {
  .d-icon {
    border-radius: 100px;

    .icon {
      border-radius: 0.25em;
      margin-left: 0.3em;
      border: 1px solid transparent;

      svg {
        font-size: 1.25em;
      }

      img.avatar {
        border-radius: 0.50em !important;
      }
    }
  }
}

.menu-panel.drop-down {
  margin-top: 1em;
  border-radius: 0.5em;
  border: none;
}

.drop-down-mode .d-header-icons .active .icon {
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0);

  .d-icon {
    color: var(--tertiary);
  }

  &:hover {
    border: 1px solid transparent;
  }
}

.topic-chat-container .chat-live-pane,
.chat-live-pane .chat-messages-scroll,
.chat-composer-container,
.chat-drawer,
.topic-chat-drawer-header,
.topic-chat-drawer-content,
.topic-chat-container {
  backdrop-filter: blur(2rem)
}


.chat-message {
  background: transparent;
}

.chat-messages-container .chat-message.chat-message-bookmarked {
  border-radius: 8px;
}

.topic-chat-drawer-header {
  border-radius: 18px 18px 0px 0px
}

.chat-composer-dropdown__list,
[data-tippy-root],
.tippy-box {
  background-color: rgba(36, 36, 36, 0.07);
  border-radius: 8px;
  backdrop-filter: blur(10rem);
  -webkit-backdrop-filter: blur(10rem);
}

.user-card.show,
.group-card.show,
.user-card .card-content,
.group-card .card-content {
  border-radius: 12px;
  background-color: rgba(36, 36, 36, 0.21);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
}

.menu-panel {

  .widget-link,
  .categories-link {

    &:hover,
    &:focus {
      background-color: rgba(var(--tertiary-rgb), 0.5);
    }
  }
}

.btn:not(.themes-tab):not(.components-tab),
.select-kit.dropdown-select-box .dropdown-select-box-header {
  border-radius: 8px;
  border: 1px solid transparent;
}

.post-admin-menu.popup-menu .btn.widget-button {
  border-radius: 0px;
}

.unread-high-priority-notifications {
  background: var(--quaternary);
}

.timeline-container {
  .topic-timeline {
    .timeline-handle {
      background-color: var(--tertiary);
    }

    .timeline-scrollarea {
      border-left-color: var(--tertiary);
    }
  }
}

#background-container {
  position: fixed;
  z-index: -0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg,
      var(--tertiary-hover) 0%,
      var(--tertiary) 100%);
  clip-path: ellipse(148% 70% at 91% -14%);
}

#main-outlet {
  margin-top: 5px;
  margin-bottom: 50px;
  background: var(--secondary);
  border-radius: 1em;
  padding: 3em 3em 5%;
  max-width: 80%;
  padding-bottom: 5% !important;
  box-shadow: 0 24px 40px rgb(0, 0, 0),
    0 10.8529px 24.1177px rgba(0, 0, 0, 0.0456112),
    0 4.50776px 10.0172px rgba(0, 0, 0, 0.035),
    0 1.63037px 3.62304px rgba(0, 0, 0, 0.0243888);

  @media screen and (max-width: 700px) {
    padding: 1.5em;
    margin-top: 0;
  }

  @media screen and (max-width: 1120px) {
    width: 80%;
  }

  @media screen and (max-width: 1075px) {
    width: 85%;
  }
}

body.archetype-regular #main-outlet {
  min-height: 500px;
}

.nav-pills>li a.active,
.nav-pills>li>a {
  border-radius: 0.5em;
}

@keyframes background-fade-highlight {
  0% {
    background-color: var(--highlight-low);
  }

  100% {
    background-color: var(--secondary);
  }
}

.full-width {
  .contents {
    .topic-list {
      border-collapse: separate;
      border-spacing: 0 0.25em;
      display: contents;

      .topic-list-header {
        display: contents;

        tr {
          display: flex;
          border-bottom: none;
        }

        .topic-list-data {
          &.default {
            width: 63%;
          }

          &.posters {
            width: 7%;
          }

          &.posts {
            width: 15%;
          }

          &.activity {
            width: 15%;
          }
        }
      }

      .topic-list-body {
        display: contents;

        .topic-list-item-separator {
          width: 100%;
          margin: 0.75em 0;
          display: flex;

          .topic-list-data {
            width: 100%;
          }
        }

        .topic-list-item {
          width: 100%;
          display: flex;
          margin-bottom: 0.5em;
          background-color: var(--secondary);
          border: 1px solid rgba(var(--primary-rgb), 0.2);
          border-radius: 1em;
          position: relative;
          transition: box-shadow 100ms ease-in-out;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);

          &.visited {
            border: 1px solid rgba(var(--primary-rgb), 0.1);

            .discourse-tag {
              opacity: 0.75;
            }

            &:hover {
              border: 1px solid rgba(var(--primary-rgb), 0.25);

              .discourse-tag {
                opacity: 1;
              }
            }
          }

          &:hover {
            background-color: var(--secondary);
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(var(--primary-rgb), 0.3);

            a.title:not(.badge-notification),
            a.topic-excerpt {
              color: var(--primary) !important;
            }
          }

          .topic-list-data {
            &.main-link {
              width: 63%;
              order: 2;
            }

            &.posters {
              width: 7%;
              order: 1;
              height: auto;
              display: flex;
              justify-content: center;
              align-items: center;

              a:not(.latest) {
                display: none;
              }
            }

            &.posts {
              width: 15%;
              order: 3;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            &.age {
              width: 15%;
              order: 4;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .posters {
            a.latest {
              margin-right: 4px;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-content: center;
              align-items: center;

              .avatar {
                margin-right: 0;
              }
            }

            a:not(.latest) {
              margin-left: -22px;

              .avatar {
                border: 3px solid var(--secondary);
              }
            }

            .avatar {
              width: 40px;
              height: 40px;
              border-radius: 12px !important;
            }
          }

          .main-link {
            min-height: 100%;

            .link-top-line {
              display: block;
              margin-bottom: 0.25em;
            }

            .title {
              font-weight: bold;
            }

            .link-area {
              display: flex;

              .link-title-area {
                margin-right: 1em;
                font-size: medium;
              }

              .link-meta-area {
                font-size: medium;
                display: flex;
                align-items: center;
              }
            }
          }

          .posts-map a,
          .num.age.activity a {
            padding: 0;
          }

          .posts-map {
            position: relative;

            .number {
              margin-right: 0.25em;
            }
          }

          .post-activity {
            .d-icon-reply {
              color: var(--primary-medium);
              margin-right: 0.25em;
            }

            .relative-date {
              color: var(--primary-medium);
            }
          }
        }
      }
    }
  }
}

svg.PixlzThemeSearchIcon {
  position: relative;
  display: table-row;
  height: 50px !important;
  width: 50px;
  top: 227px;
  left: 220px;
  fill: #e0e0e0;
}

.ip-lookup .location-box {
  background-color: rgba(36, 36, 36, 0.07);
  border-radius: 8px;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
}

.navigation-container {
  margin-top: 2em;
}

.published-page-content-wrapper {
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 50px;
  background: var(--secondary);
  border-radius: 1em;
  padding: 3em 3em 5%;
  box-shadow: 0 24px 40px rgba(0, 0, 0, 0.07),
    0 10.8529px 24.1177px rgba(0, 0, 0, 0.0456112),
    0 4.50776px 10.0172px rgba(0, 0, 0, 0.035),
    0 1.63037px 3.62304px rgba(0, 0, 0, 0.0243888);
  z-index: 1;
  position: relative;
}

.d-editor-preview .image-wrapper .button-wrapper .scale-btn-container,
.d-editor-preview .image-wrapper .button-wrapper .alt-text-readonly-container,
.d-editor-preview .image-wrapper .button-wrapper .alt-text-edit-container,
.modal-middle-container,
.dialog-overlay {
  background-color: #0000;
  border-radius: 8px;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
}

.dialog-content {
  border-radius: 18px;
}

.published-page {
  &::before {
    background: linear-gradient(90deg,
        var(--tertiary-hover) 0%,
        var(--tertiary) 100%);
    clip-path: ellipse(148% 70% at 91% -14%);
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 0;
  }

  .background-container {
    display: none;
  }
}

.post-notice {
  background: transparent;
}

.group-details-container {
  border-radius: 8px;
}

.quote-button {
  background-color: var(--primary-low-mid);
  border-radius: 0.5em;
}

.directory {
  .filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    >span {
      margin-bottom: 5px;
    }
  }

  .filter-name {
    float: none;
  }

  .group-filter:not(.active) .select-kit-header {
    color: var(--primary-high);
  }
}

.user-card-directory {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 60px 20px;
  margin-top: 60px;

  @media only screen and (min-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .user-card-container {
    margin: 60px 20px;
    width: 100%;
    background-color: var(--secondary);
    box-shadow: none;
    margin-bottom: auto;
  }

  .user-card {
    z-index: auto;
    position: relative;
    width: 100%;
    box-shadow: none;
    margin: 0;

    .badge-section {
      overflow: hidden;
    }
  }

  .usercard-controls {
    display: none;
  }

  .user-card-directory-footer {
    background-color: var(--secondary);
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;

    .stat {
      flex-basis: 0;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2px;

      .label {
        font-size: medium;

        .d-icon {
          margin-right: 0.2em;
          color: var(--primary-medium);
        }
      }
    }
  }
}

@supports (display: grid) {
  .user-card-directory {
    display: grid;
  }

  .user-card-directory .user-card-container {
    margin: 0;
  }
}

.fullscreen-table-modal .modal-inner-container {
  border-radius: 8px;
}

.hljs {
  border-radius: 8px;
}

/*
discourse you really gotta fix your search system
*/
.search-container {
  .search-header {
    background: transparent;
  }

  .search-filters {
    background-color: transparent;

    .search-advanced-filters {
      background-color: transparent;
    }

    .search-advanced-filters .search-advanced-options,
    details.search-advanced-additional-options>summary {
      background-color: transparent;
    }
  }

  .search-bar {
    background-color: transparent;
  }
}

.page-not-found-topics {
  margin-left: auto;
  margin-right: auto;
}

.topic-avatar,
.avatar-flair-preview,
.collapsed-info .user-profile-avatar,
.user-image,
.latest-topic-list-item {
  .avatar-flair {
    &.rounded {
      background-color: rgba(255, 255, 255, 0);
      bottom: 25px;
      right: -14px;
    }
  }
}

.user-card-avatar,
.user-profile-avatar {
  .avatar-flair {
    &.rounded {
      background-color: rgba(255, 255, 255, 0);
      bottom: -20px;
      right: -23px;
    }

    .fa {
      right: -20px;
    }
  }
}

.topic-body .topic-meta-data {
  right: -5px;
  align-items: end !important;
}

div.row {
  background: transparent;
}

body:not(.ios-safari-composer-hacks) #reply-control.open,
.d-editor-textarea-wrapper.disabled,
.d-editor-textarea-wrapper,
#reply-control .mini-tag-chooser .select-kit-header,
#reply-control .category-input .category-chooser,
#reply-control #reply-title {
  background: transparent;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
}

.menu-panel.drop-down {
  background-color: rgba(0, 15, 255, 0);
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
}

#reply-control {
    max-width: 80%;
}

#reply-control .mini-tag-chooser .select-kit-header {
  background: transparent;
  border-radius: 8px;
}

.popup-menu {
  border-radius: 18px;
}

.discourse-reactions-state-panel .container,
.discourse-reactions-picker .discourse-reactions-picker-container {
  border-radius: 8px;
  background: rgba(0, 15, 255, 0);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
}

.admin-report .conditional-loading-section.is-loading {
  background: transparent;
}

nav.post-controls .actions button {
  border-radius: 8px;
}

.user-menu .quick-access-panel {
  ul {
    border-radius: 8px;
    opacity: 0.7;

    li a {
      padding: 0em 0.5em;
    }
  }

  &.quick-access-profile li:not(.show-all) a {
    padding-bottom: 0.1em;
  }
}

.presence-users {
  background: transparent;
}

img.avatar {
  border-radius: 18px !important;
}

.search-advanced-additional-options {
  font-size: 20px;
}

.user-invite-none {
  font-size: 25px;
  font-weight: 1000;
}

.topic-map {
  background-color: rgba(6, 6, 6, 0);
}

a.mention {
  background-color: rgba(255, 255, 255, 0);
}

div.poll .results {

  .chosen .bar,
  .bar-back {
    border-radius: 8px;
  }

  .bar {
    border-radius: 8px;
  }
}

.map:first-of-type .buttons .btn {
  border-radius: 8px 0px 0px 8px;
}

.user-main .about .secondary dl div {
  margin-right: -6px;
}

// CANCEL BUTTON
// TODO: Add all cancels sitewide
#reply-control .save-or-cancel .cancel,
.wizard-container__button.finish {
  background: #2c2c2c;
  border-radius: 8px;
  width: 70px;
  height: 30px;
  text-align: center !important;
  justify-content: center;
}

.wizard-container__button.finish {
  width: fit-content;
  padding: 1rem;
}

div#banner,
div.global-notice,
.alert.alert-info {
  border-radius: 12px;
}

blockquote {
  border-radius: 8px;
}

.admin-detail,
.admin-controls .controls,
.nav-stacked li,
.admin-nav {
  background: transparent;
  border-radius: 8px;
}

// Goodbye button gradient

.btn {

  &:active,
  &.btn-active {
    background-image: none;
    border-bottom-color: transparent;
    background-color: var(--primary-medium);
  }

  &.btn-primary {

    &:active,
    &.btn-active {
      background-color: var(--tertiary-hover);
    }
  }

  &.btn-danger,
  &.cancel {

    &:active,
    &.btn-active {
      background-color: var(--danger-hover);
    }
  }

  &.ok {

    &:active,
    &.btn-active {
      background-color: var(--success-hover);
    }
  }
}

.post-notice {
  margin-bottom: 1em;
  border: none;
  background: var(--primary-very-low);
  border-radius: var(--border-radius);
  margin-left: 1.5em;
  box-sizing: border-box;
  padding: 1.5em 2em;
  align-items: center;
  display: flex;
  width: 100%;
  max-width: calc(#{$topic-body-width} + (#{$topic-body-width-padding} * 2) + #{$topic-avatar-width} - (0.8em * 2));
  border-radius: 20px;

  &.old {
    background-color: unset;
    color: var(--primary-medium);

    .d-icon {
      color: var(--primary-medium);
    }
  }

  p {
    margin: 0;
  }

  .d-icon {
    font-size: 2em;
    color: var(--primary-high);
    margin-right: 0.65em;
  }
}

// Speed up the spinner to look better
.spinner {
  animation: rotate-forever 0.4s infinite linear;
  -webkit-animation: rotate-forever 0.4s infinite linear;
}

.search-container .search-page-heading {
  margin: 1em 0 2em 0;
  font-size: 5em; // use smaller font size on smaller screen
  text-align: center;
}

// scss goes brrrr
.dashboard {
  .navigation {
    .navigation-item {
      .dashboard-next {
        .navigation {
          .navigation-item {
            border-radius: 8px 8px 0px 0px;
          }
        }
      }
    }
  }
}

.menu-panel .widget-link,
.menu-panel .categories-link,
.admin-controls {
  border-radius: 8px;
}

.nav-stacked a.active {
  border-radius: 8px;
}

.nav-stacked,
.admin-controls {
  background: var(--primary-very-low);
  border-radius: 8px;
}

.admin-detail,
.admin-controls .controls,
.nav-stacked li,
.admin-nav {
  border-radius: 0px; //That's a first
}

.modal-inner-container {
  border-radius: 18px;
}

nav.post-controls .actions,
.desktop-view nav.post-controls .show-replies,
.d-header-icons .icon,
.topic-list-item,
tr {
  border-radius: 8px;
}

.discourse-kanban-container .discourse-kanban-list {
  border-radius: 18px;
  background-color: var(--primary-very-low);
}

nav.post-controls .actions .double-button button.button-count:not(.my-likes) {
  border-radius: 8px 0px 0px 8px;
}

.topic-status-info:empty,
.topic-timer-info:empty {
  display: none;
}

.floating-search-input .search-banner-inner.wrap .search-menu .search-input {
  border-radius: 28px !important;
}

.topic-body {
  border: 0px;
  width: 90%;
}

.topic-post article.boxed {
  padding-top: 15px;
}

.fixed-modal:not(.history-modal) .modal-body:not(.reorder-categories):not(.poll-ui-builder):not(.poll-breakdown) {
  border-radius: 18px;
}

span.staff :after {
  content: "Staff";
  color: white;
  background-color: #00a9db;
  border-radius: 8px;
  margin-left: 5px;
  padding-left: 4px;
  padding-right: 4px;
  display: inline-block;
}

.topic-avatar .avatar-flair.rounded,
.avatar-flair-preview .avatar-flair.rounded,
.collapsed-info .user-profile-avatar .avatar-flair.rounded,
.user-image .avatar-flair.rounded,
.latest-topic-list-item .avatar-flair.rounded {
  background-color: transparent !important;
}

// Floating sidebar
#main-outlet-wrapper .sidebar-wrapper {
  top: calc(var(--header-offset) + 30px);
  height: calc(100vh - (var(--header-offset) + 80px));
  border-radius: 16px;
}

// Sidebar highlight
.sidebar-section-link-wrapper {
  .sidebar-section-link.active {
    @if $Is_Background_Blurred {
      backdrop-filter: blur(1rem);
      background-color: #074854a6;
    }
  }
}

.user-content-wrapper .user-content,
.user-main .about.has-background .details {
  background: transparent;
}

.popup-tip.bad,
.alert.alert-error,
.alert.alert-success,
.broken-theme-alert {
  background: #5563ff !important;
  border-radius: 8px !important;
  width: 100%;
  text-align: center;
}

.popup-tip.bad,
.alert.alert-error,
.alert.alert-success,
.broken-theme-alert {
  width: 95%;
}

.broken-theme-alert {
  width: 100%;
}

.user-main .about .details,
.user-main .about.collapsed-info .details {
  background: transparent;
}

// Redesigned Notifications

//User notifications page
.user-stream .item,
.user-stream .user-stream-item {
  border: 1px solid var(--primary-low);
  margin-bottom: 1em;
  border-radius: 18px;
  background-color: rgba(var(--secondary), 0.2);
}

.user-content .user-notifications-filter {
  margin-bottom: 1em;
}

// User Menu
.user-menu .quick-access-panel li:not(.show-all) {
  margin-bottom: 0.2em;
  border-radius: 8px;
}

.drop-down-mode .d-header-icons .active .icon:after {
  border: none;
}

.nav-pills>li>a,
.nav-pills>li button {
  padding: 10px;
}


th.views.sortable.num.topic-list-data {
  display: none;
}

.admin-customize .themes-list-container .themes-list-filter {
  border-radius: 0px 0px 8px 8px;
}

.admin-customize .themes-list-header .tab {
  border-radius: 8px 8px 0px 0px;
}

div.uploaded-image-preview.input-xxlarge {
  border-radius: 8px;
  background-image: url(https://community.blackiron.dev/uploads/default/original/2X/9/9fbd708e43a1bbc29cf84e7fd80aaecabbcf2630.png);
}

div.edit-category {
  .edit-category-title-bar {
    border-radius: 8px;
  }

  .warning {
    border-radius: 8px;
  }
}

.select-kit.is-expanded .select-kit-body {
  border-radius: 16px;
}

.welcome-cta {
  border-radius: 16px;
  background-color: rgba(var(--primary-low-rgb), .4);
  backdrop-filter: blur(2rem);
}


.composer-popup {
  border-radius: 8px;
  backdrop-filter: blur(1rem);
  background-color: rgba(var(--primary-low-rgb), 0.4)
}

.user-preferences .bio-composer .d-editor-preview,
.group-form-bio .d-editor-preview,
.edit-category-tab-topic-template .d-editor-preview {
  border-radius: 8px;
}

.select-kit .select-kit-header:not(.btn),
.select-kit.multi-select {
  background: transparent;
  border-radius: 8px;
}


.wizard-container__button {
  border-radius: 8px;
}

.fa.d-icon.d-icon-chevron-left.svg-icon.svg-string::after {
  content: "Return";
}

.wizard-container .wizard-container__image-upload canvas {
  border-radius: 18px;
}

.floating-search-input .search-banner-inner.wrap .search-menu .search-input #search-term {
  background: transparent;
  border: none;
}

.admin-report .main .report-alert.no-data,
.admin-report .main .report-alert.rate-limited {
  background: transparent;
}

.discourse-no-touch .groups-boxes .group-box {
  border-radius: 8px;
}

.groups-boxes {
  grid-template-columns: repeat(auto-fit, minmax(70%, 1fr));
}

.admin-badges .current-badge textarea {
  border-radius: 10px;
}

.user-main .staff-counters {
  border-radius: 8px 8px 0px 0px;
  background-color: var(--primary-very-low)
}

.topic-chat-container {
  background: transparent !important;
}

.show-more {
  border-radius: 8px;
}

.floating-search-input .search-banner-inner.wrap .search-menu .results ul.list li,
.floating-search-input .search-banner-inner.wrap .search-menu .results ul li,
.search-menu .search-result-topic .search-link,
.search-menu .search-result-post .search-link {
  border-radius: 8px;
}

.floating-search-input .search-banner-inner.wrap .search-menu .results {
  background-color: rgba(36, 36, 36, 0.21);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  border-radius: 18px;
}

.deleted .regular>.cooked,
.regular>.cooked {
  border-radius: 8px;
}

.user-card-avatar .avatar-flair.rounded,
.user-profile-avatar .avatar-flair.rounded {
  background: transparent;
}

#simple-container {
  background: transparent;
}

.d-modal.create-account .login-welcome-header,
.d-modal.login-modal .login-welcome-header,
.invites-show .login-welcome-header,
.admin-invite-page .login-welcome-header {
  background: transparent;
}

.body-page {
  width: 100%;
  max-width: 999999px;
}

div.login-required {
  text-align: center;
}

.body-page-button-container {
  place-content: center;
}

.login-required::before {
  content: " ";
  font-size: 10em;
  background-image: url("/images/emoji/twitter/wave.png?v=12");
  background-repeat: no-repeat
}

.chat-message-collapser .chat-video-upload {
  border-radius: 8px;
}

.container.posts .topic-navigation-popup {
  border-radius: 19px;
}

.user-card-directory .user-card-container {
  background: transparent;
}

.user-card-directory .user-card-directory-footer {
  background: #0a0a0a6e;
  border-radius: 8px;
  margin-top: 5px;
}

.select-kit.is-expanded .select-kit-body {
  transform: translate(0px) !important;
  background: #0a0a0a8f;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);

}

.select-kit.single-select.dropdown-select-box.is-expanded .select-kit-collection,
.select-kit.single-select.dropdown-select-box.is-expanded .select-kit-body {
  border-radius: 18px;
}

.user-card.show,
.group-card.show,
.user-card .card-content,
.group-card .card-content {
  left: 0px !important;
}

.select-kit.is-expanded .select-kit-body {
  position: absolute !important
}

.user-content {
  background: transparent !important;
}

.new-user-wrapper .user-navigation .nav-pills li a.active,
.new-user-wrapper .user-navigation .nav-pills li {
  border-radius: 0px !important
}

.composer-popup.education-message {
  background: rgba(var(--tertiary-rgb), .3);
}

.static-progress-bar .progress-bar-background,
.static-progress-bar .progress-bar-background .progress-bar {
  border-radius: 8px;
}